.main {
    padding-top: 10rem;
    padding-bottom: 8rem;
    grid-area: main;

    .titulopagina {
        line-height: $lineheight;
        padding-bottom: 2.5rem;
        text-align: center;
        font-family: $font-titulo;
        font-weight: extra-light 0.200;
        font-size: $text-titulo;
    
    }

    .imagenvase {
        margin: auto;
        text-align: center;
        padding: .9rem;
        flex-basis: 50%;
    }

    .titulosecundario {
        @include titulosecundario;
        font-weight: thin 0.100;    
        margin-top: 4rem;
        text-align: left;    
    }
}

@media  screen and (min-width:480px) and (max-width:720px){
    .main {
        padding-top: 10rem;
        padding-bottom: 8rem;
        grid-area: main;

        section article{
            display: flex;
            flex-direction: column;
        }

        .titulopagina {
            padding-bottom: 1.8rem;
        }

        imagenvase img{
            width: 100%;
            min-width: 360px;
            padding-bottom: 1.3rem;
            padding-top: 1.3rem;
        }
    }   
}
