/*Normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globales*/

html {
    font-size: 62,5%;
}

body{
    font-family: $font-contenido;
    color: $textoprimario;
    background-color: $principal;
    font-size: $text-contenido;
    line-height: $lineheight;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 3rem;
}

h4{
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color: $textosecundario;
    font-family: $font-nav;
    display: inline-block;
}

img{
    border-radius: 10px;
}

/*Grid*/

#grilla{
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: auto 1fr auto;
}